doctype html
html(lang=language, data-ng-app=appname, data-ng-strict-di)
  include ../common/header
  body(data-ng-controller="ApplicationController")
    .container
      p
        | This is your main container change your data
    include ../common/footer